:root {
    --bg: #0f0a12;
    --card: #1a1220;
    --pink: #ff7cb7;
    --pink-soft: #ffd7e8;
    --accent: #ff4f9d;
    --text: #f8eef5;
    --gray: #bcaeb8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--text);
    background: var(--bg);
    padding-top: 80px;
}

body > nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(12px);
    background: rgba(15, 10, 18, .8);
    border-bottom: 1px solid rgba(255, 255, 255, .08);
}

.nav-container {
    max-width: 1200px;
    margin: auto;
    padding: 18px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 700;
    color: var(--pink);
    font-size: 1.3rem;
    letter-spacing: 2px;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: .3s;
}

.nav-links a:hover {
    color: var(--pink);
}

.card {
  background: #efe2ed;
  padding: 30px;
  width: 80%;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(197, 37, 120, 0.732);
  text-align: center;
  display: flex;
  margin-left: 160px;
}

.card h2 {
  margin-bottom: 20px;
  font-size: 20px;
  color: #1a1819;
}

.card button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #e82a7cc5;
  color: rgb(255, 224, 242);
  font-size: 16px;
  cursor: pointer;
  transition:0.5s;
}

.card button:hover {
  background: #bc1d62c5;
}

.footer {
    color: #9b8f99;
    background: rgba(15, 10, 18, .8);
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    padding: 40px 20px 15px;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section a {
    text-decoration: none;
    color: #9b8f99;
}

.footer-section a:hover {
    color: #ffffff;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid rgba(74, 44, 42, 0.3);
    margin-top: 25px;
    padding-top: 15px;
}